<div class="dashboard-container">

  <aside class="sidebar">

    <!-- USER SIDEBAR -->
    <ng-container *ngIf="role === 'User'">

      <h3>User Panel</h3>
      <ul>
        <li routerLink="/dashboard/user" routerLinkActive="active">
          Dashboard
        </li>

        <li routerLink="/dashboard/user/browse" routerLinkActive="active">
          Browse Spaces
        </li>

        <li routerLink="/dashboard/user/bookings" routerLinkActive="active">
          My Bookings
        </li>

        <li routerLink="/dashboard/user/request-owner" routerLinkActive="active">
          Become Owner
        </li>

      </ul>

    </ng-container>


    <!-- OWNER SIDEBAR -->
    <ng-container *ngIf="role === 'Owner'">

      <h3>Owner Panel</h3>

      <ul>

        <li routerLink="/dashboard/owner/spaces" routerLinkActive="active">
          Your Spaces
        </li>

        <li routerLink="/dashboard/owner/add-space" routerLinkActive="active">
          Add Space
        </li>

        <li routerLink="/dashboard/owner/bookings" routerLinkActive="active">
          Bookings
        </li>

        <li routerLink="/dashboard/owner/earnings" routerLinkActive="active">
          Earnings
        </li>

      </ul>

    </ng-container>

  </aside>


  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>