.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #f0f9ff;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #38bdf8;
  padding: 30px 20px;
  color: white;
}

.sidebar h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}
/*TOPBAR*/
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.topbar{
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #e2e8f0;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover{
  background: #dc2626;
}

/* Hover */
.sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(5px);
}

/* Active */
.sidebar .active {
  background: white;
  color: #0ea5e9;
  font-weight: 600;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 40px;
  background: #f0f9ff;
}